/*    Header Part  */
.introduction {
    text-align: center;
    width: 100%;
    height: 130px;
    background-color: #eeeeaf;
}

.introduction > h1 {
    color : rgb(78, 73, 40);
    font-family: serif;
    font-size: 35px;
}


.nav > ul{

    list-style-type: none;
    margin : 0;
    padding : 0;

}

.nav > ul > li {
    display: inline;
    float : left;
    width: 20%;
    background-color: rgb(74, 77, 56);
}

.nav > ul > li:hover {
    background-color: rgb(171, 168, 79);
}

.nav > ul > li > a {
    display : block;
    padding : 8px;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    font-family: sans-serif;
    color: white;
}

/*  Responsive Code */
@media only screen and (max-width: 768px){
    .nav > ul > li > a {
        font-size: 1em;
    }
}

html, body {
    width: 100%;
    height:100%;
}
  
body {
      background: linear-gradient(45deg, #a8ae70, #dee98f, #6f6e40, #978544);
      background-size: 400% 400%;
      animation: gradient 8s ease infinite;
}
  
@keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
}
